<footer class="footer">
  <small>
    <a href="http://www.bvfb.org/">Brazos Valley Food Bank</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.bvfb.org/">BVFB</a></li>
    </ul>
  </nav>
</footer>